<div class="hero">
    <h1>Save any kind of movies</h1>
</div>

<div class="index-header">
    <h1>My Lists</h1>
    <%= link_to 'New List', new_list_path, class: "new-list-btn" %>
</div>

<div class="index-lists">
    <% @lists.each do |list| %>
        <div class="index-list-item" id="<%= list.id %>">
        <%= link_to list.name, list_path(list) %>
        </div>
    <% end %>
</div>



